.CreatePost {

  &__title {
    outline: none;
    border: none;
    font-size: 3em;
    width: 100%;
    border-bottom: 1px solid lightgrey;

    &:focus {
      border-bottom: 1px solid cornflowerblue;
    }
  }

  &__description {
    outline: none;
    border: none;
    width: 100%;
    border-bottom: 1px solid lightgrey;

    &:focus {
      border-bottom: 1px solid cornflowerblue;
    }
  }

  &__head {
    box-shadow: $elevated;
    padding: 8px;
    border-radius: 8px;
  }

  &__create-section-button {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 400px;
  }

  &__previewed-banner {
    width: 100px;
  }

  &__previewed-banner-container {
    position: relative;

    .CreatePost__remove-banner-button {
      position: absolute;
      color: white;
      cursor: pointer;
      right: 4px;
    }
  }

  &__section {
    margin: 24px 0;
    padding: 8px;
    position: relative;
    box-shadow: $elevated;
    border-radius: 8px;


    .CreatePost__order-container {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 0;
      left: -30px;

      button {
        outline: none;
        border: none;
        background-color: white;
        cursor: pointer;
        color: grey;
        transition: color 250ms ease;

        &:hover {
          color: lightgrey;
          transition: color 250ms ease;
        }

        i {
          font-size: 24px;
        }
      }

      .CreatePost__add-image {
        padding: 4px;
      }
    }

    &-title {
      outline: none;
      border: none;
      font-size: 2em;
      width: 100%;
      border-bottom: 1px solid lightgrey;

      &:focus {
        border-bottom: 1px solid cornflowerblue;
      }
    }

    &-description {
      outline: none;
      border: none;
      width: 100%;
      border-bottom: 1px solid lightgrey;

      &:focus {
        border-bottom: 1px solid cornflowerblue;
      }
    }
  }
}
